body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #214E34;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #40BB97;
    height: 10%;
    background-position: center center;
}

.logo {
    padding: 10px 50px;
    height: 8%;
    width: auto;
}

.roasting {
    border-radius: 20px;
    background: white;
    margin: 90px auto;
    padding: 20px 30px 40px 30px;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
}

.roasting #mid_sect {
    margin-left: 16%;
    font-family: Circular, Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

.roasting form {
    margin-top: 5%;
}

.roasting label {
    margin-left: 20%;
    margin-top: 10%;
}

.roasting input {
    border: 2px solid #9c9e93;
    height: 20px;
    border-radius: 10px;
    padding: 1%;
}

.roasting .submit_button {
    height: 50px;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    background: #40BB97;
}

.roasting .submit_button p {
    color: blue;
}