body {
    padding: 0;
    margin: 0;
    /* Old browsers */
    background: white;
  }
  
  /** Header styles **/
  .header {
    background: #40BB97;
    height: 400px;
    background-position: center center;
  }
  
  #left_logo{ 
      position: absolute;
      display: block;
      margin-left: 33%;
      margin-top: 10%;
  }
  
  #right_logo{
      position: absolute;
      display: block;
      margin-left: 53%;
      margin-top: 8%;
  }
  
  
  #mid_logo p{
      color: white;
      position: absolute;
      display: block;
      margin-left: 48%;
      margin-top: 13%;
  }
  
  #Data_Sources{
    text-align: center;
  }
  
  .roasting {
    border-radius: 20px;
    background: white;
    margin: 90px auto;
    padding: 20px 30px 40px 30px;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }

  .roasting #mid_sect{
    margin-left: 16%;
    font-family: Circular, Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
  }
  
  .roasting form{
    margin-top: 5%;
  }

  .roasting label{
    margin-left: 15%;
    margin-top: 10%;
  }

  .roasting input{
     border: 2px solid #9c9e93;
     height: 20px;
     width: 140px;
     border-radius: 10px;
     padding: 1%;
     margin-bottom: 2%;
  }
  
  .roasting .submit_button{
    height: 50px;
    width: 40%;
    margin-top: 5%;
    margin-left: 7%;
    background:#40BB97;
  }

  .roasting button{
    color: blue;
  }

  .spectrum{
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: visible;
    opacity: 0.9;
    height: 40em;
    border-radius: 0;
  }
  
  .spectrum p {
    color: #FFFFFF;
    text-align: left;
  }
  
  /* Typography */
  h1 {
    font-family:sans-serif;
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
    color: rgba(92,99,141,1.00);
  }
  
  h2 {
    color: #E4BB97;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #214E34;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
  
  #testing_color{
      text-align: center;
      display: block;
      border: 8px solid black;
      border-radius: 10px;
      width: 160px;
      height: auto;
      position: relative;
      background: hsla(30, 100%, 70%, 1);
      margin: auto;
      padding-left: 10%;
      padding-right: 10%;
      margin-bottom: 10%;
  }
  
  #testing_color .one{ 
      color: red;
      font-family: "serif", Constantia, "Lucida Bright", "DejaVu Serif";
      font-weight: 400;
  }
  
  #testing_color .two{ 
      color: red;
      font-family: 'Karla', sans-serif;
      font-weight: 700;
      letter-spacing: .1em;
  }
  
  #testing_color .three{
      color:rgba(130,72,73,1.00);
      font-weight: 300;
      font-family: 'Rakkas', cursive;
      word-spacing: .5em;
      line-height: .7em;
  }
  
  @font-face {
    font-family: 'Rakkas';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Rakkas Regular'), local('Rakkas-Regular'), url(https://fonts.gstatic.com/s/rakkas/v6/Qw3cZQlNHiblL3jPkdFO.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  .grid {
    margin: auto;
    margin-bottom: 10%;
    border-radius: 10px;
    border: 5px blue solid;
    padding: 3% 3% .5% 3%;
    height: 450px;
    width: 600px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background: hsla(173,19%,47%,1.00);
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
  }
  
  .box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;	
  }
  
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  .a{	
    grid-column: 1 / span 1;
    grid-row-start: 1 / span 1;
    background-color: hsla(20, 43%, 43%, .8);
    font-family: 'Montserrat',  sans-serif;
    font-size: 2em;
  }
  
  /* latin */
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v23/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  .b {
    grid-column: 2 / span 1;
    grid-row: 1/ span 1;
    font-family: 'Oswald',  sans-serif;
    background-color: hsla(30, 43%, 43%, .8);
    font-size: 2em;
  }
  
  /* latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  .c {
    grid-column: 1 / span 1;
    grid-row: 2/ span 1;
    background-color: hsla(40, 43%, 43%, .8);
    font-family: 'Raleway',  sans-serif;
    font-size: 2em;
  }
  
  /* latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v13/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  .d{
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: hsla(50, 43%, 43%, .8);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
  }
  
  .nav_container a{
      color: white;
  }
  
  ul{
      display: flex;
      flex-direction: row;
  }
  
  ul h2{
      margin-left: 9%;
  }
  
  .nav_container a:hover:not(.active){
    color:black;
  }
  
  .nav_container{
      z-index:3;
      background: linear-gradient(gray, rgba(214,201,182,1.00));
  }
  
  #viewDiv {
    margin: 0;
    height: 70vh;
    width: 100%;
    z-index:-1;
  }
 
  .esri-attribution__sources{
      border: 2px solid red;
  }

 span{
    border: 1px solid blue;
    z-index:-1;
  }
