/** Header styles **/

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #40BB97;
    height: 10%;
    background-position: center center;
}

.logo {
    padding: 10px 50px;
    height: 8%;
    width: auto;
}

.viewDiv {
    background-color: #214E34;
    padding: 10px;
    margin: 0%;
    height: 90vh;
    width: 100%;
}